.body-style {
    background-color: #ffffff;
    // background-image: url(/assets/images/landing.svg);
    // background-blend-mode: color-dodge;
    // background-repeat: no-repeat;
    // background-position: top;
}
.font-weight-300 {
    font-weight: 300;
}
.font-roboto-slab {
    font-family: Roboto Slab;
}
.font-bold {
    font-weight: bold;
}
.landing-hero {
    color: #0d0c12;
    background-color: rgba(169, 61, 219, 0.02);
    background-image: url(/assets/images/hero-landing.svg);
}
.hero-section-title {
    font-size: 50px;
    @extend .font-roboto-slab;
    @extend .font-bold;
}
.subscribe-newsletter-input {
    caret-color: #0d0c12;
    box-shadow: none !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid rgba(13, 12, 18, 0.3);
    box-shadow: none;
    width: 350px !important;
    // color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 0px;
}
.btn-submit-newsletter {
    background: linear-gradient(273.96deg, #e9700d 7.39%, #f39242 99.41%);
    color: #ffff;
}
.explore-product-btn {
    // @extend .btn ;
    flex: 1 0 30%;
    margin: 10px;
    text-align: left;
    font-size: 20px;
    font-family: Roboto Slab;
    font-style: normal;
    line-height: 26px;
    max-width: 340px;
    border-radius: 10px;
    padding: 1rem;
    padding: 25px 40px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(102, 61, 219, 0.72), rgba(169, 61, 219, 0.97));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    transition: 0.4s;
}
.explore-product-btn:hover {
    // background: linear-gradient(82.94deg, rgba(102, 61, 219, 0.288) 17.14%, rgba(169, 61, 219, 0.388) 79.8%);
    // backdrop-filter: blur(10px);
    // border-radius: 10px;
    // border: 1px solid #473389;
    box-shadow: none;
    color: #fff;
}
.getting-started-articles-list {
    li {
        padding: 10px 20px;
        // margin: 10px;
        margin: 10px 15px 10px 0px;
    }
    li:nth-child(odd) {
        background: rgba(220, 182, 241, 0.2);
        // color: red;
    }
    li:nth-child(even) {
        // color: blue;
    }
}

.header-font-weight {
    color: rgba(0, 0, 0, 0.8);
}
.header-bar {
    position: sticky;
    top: 0;
    // background-color: #1;
}
.header-bar-bottom-borer {
    border-bottom: solid 1px;
    border-bottom-color: rgba(145, 115, 229, 0.28);
}

.initial-button {
    background: linear-gradient(82.94deg, rgba(51, 47, 61, 0.144) 17.14%, rgba(169, 61, 219, 0.194) 79.8%);
    border-radius: 10px;
    border: 1.5px solid #473389;
}
.footer-section {
    .footer-row-1{
        background-color: rgba(169, 61, 219, 0.02);
        padding: 30px;
    }
}
.header-search-bar input {
    padding: 0px !important; //padding disabled for only header input tag
}
.explore-article {
    color: #0d0c12;
}
.footer-external-links{
    a{
        color: #0d0c12;
    }
}