.body-style{
    background-color: #191428;
    background-image: url(/assets/images/landing.svg);
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-position: top;
}
.font-weight-300 {
    font-weight: 300;
}
.font-roboto-slab {
    font-family: Roboto Slab;
}
.font-bold {
    font-weight: bold;
}
.hero-section-title {
    font-size: 50px;
    @extend .font-roboto-slab;
    @extend .font-bold;
}
.subscribe-newsletter-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid;
    box-shadow: none;
    width: 350px !important;
    color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 0px;
}
.btn-submit-newsletter {
    background: linear-gradient(273.96deg, #e9700d 7.39%, #f39242 99.41%);
    color: #ffff;
}
.explore-product-btn {
    // @extend .btn ;
    flex: 1 0 30%;
    margin: 10px;
    padding: 25px 25px;
    text-align: left;
    font-size: 20px;
    font-family: Roboto Slab;
    font-style: normal;
    color: #ffff;
    font-size: 20px;
    line-height: 26px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #473389;
    max-width: 340px;
}
.explore-product-btn:hover {
    background: linear-gradient(82.94deg, rgba(51, 47, 61, 0.144) 17.14%, rgba(169, 61, 219, 0.194) 79.8%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    // color: #ffff;
    // background: transparent;
    border: 1px solid #473389
    // border-image: linear-gradient(82.94deg, rgba(102, 61, 219, 0.72) 17.14%, rgba(169, 61, 219, 0.97) 79.8%) 1;
}
.getting-started-articles-list {
    li{
        padding: 10px 20px;
        // margin: 10px;
        margin: 10px 15px 10px 0px;
    }
    li:nth-child(odd) {
        background: rgba(255, 255, 255, 0.05);
        // color: red;
    }
    li:nth-child(even) {
        // color: blue;
    }
}

.header-font-weight{
    color: rgba(255, 255, 255, 0.8);

}
.header-bar{
    position: sticky;
    top: 0;
    background-color: #191528;
}
.header-bar-bottom-borer{
    border-bottom: solid 1px;
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.initial-button{
    background: linear-gradient(82.94deg, rgba(51, 47, 61, 0.144) 17.14%, rgba(169, 61, 219, 0.194) 79.8%);
    border-radius: 10px;
    border: 1.5px solid #473389
}
.footer-section{
    background: rgba(0, 0, 0, 0.2);
}
.header-search-bar input{ 
padding: 0px !important; //padding disabled for only header input tag
}